body {
    background-color: #11212D;
    color: white;
}
.profile-img {
    width: 260px;
    border-radius: 10px;
}
.tech-icons img {
    width: 60px;
}
.section-title {
    font-size: 25px;
    font-weight: bold;
}
.btn-white {
    background: white;
    color: #0f1c28;
    border-radius: 8px;
    font-weight: 500;
}
.timeline {
    border-left: 2px solid #6c757d;
    padding-left: 20px;
    margin-left: 10px;
}
.timeline-item {
    margin-bottom: 20px;
    position: relative;
}
.timeline-item::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #6c757d;
    position: absolute;
    left: -28px;
    top: 5px;
}
.accordion-button::after {
    display: none !important;
}
.nav-link:hover {
    border-bottom: 2px solid white !important;
}